/* Active tab bold & color */
.md-tabs__link {
  font-size: 0.75rem !important;
}
.md-tabs__link--active {
  font-weight: bold !important;
  color: var(--md-accent-fg-color);
}
.md-tabs__link:hover {
  color: var(--md-accent-fg-color);
}

/* navigation bar active color*/
.md-nav__item .md-nav__link--active {
  font-weight: bold !important;
  color: var(--md-accent-fg-color);
}
.md-nav__item .md-nav__link--active {
  font-weight: bold !important;
  font-size: 0.75rem !important;
  color: var(--md-accent-fg-color);
}

/* frontpage elements */
.tx-hero h1 {
  font-size: 2.41rem !important;
}
a.md-button.md-button--primary {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: #ffffff;
}
a.md-button.md-button--primary:hover {
  color: #000000;
}
a.md-button.md-button:hover {
  color: #000000;
}


/* Site width etc.*/
.md-grid {
  max-width: 64rem !important;
}

